<template>
  <div>
    <div class="mt-5">
      <book-list :books="pending">

      </book-list>
    </div>
  </div>
</template>

<script>
import {mapActions, mapGetters} from 'vuex'
import bookList  from "../components/bookList"
export default {
  name: "Books",
  components: {
    bookList
  },
  mounted() {
    this.getBooks()
  },
  methods:{
    ...mapActions('books', ['getBooks'])
  },
  computed: {
    ...mapGetters('books', ['pending'])
  }
}
</script>

<style scoped>

</style>
