<template>
    <div>
      <login :student="student"></login>
      <b-container>
        <b-nav tabs>
          <b-nav-item exact to="/books">Books</b-nav-item>
          <b-nav-item exact to="/todos/create">Students</b-nav-item>
        </b-nav>
        <router-view/>
      </b-container>
    </div>
</template>

<script>
import login from '../components/login'
import {mapActions, mapGetters} from 'vuex'
export default {
  name: "home",
  components: {
    login
  },
  mounted() {
    // then i will be store in LocalStorage
   this.loginStudent()
  },
  methods: {
    ...mapActions('student', ['loginStudent'])
  },
  computed: {
    ...mapGetters('student', ['student'])
  }
}
</script>

<style scoped>

</style>
