<template>
  <div v-if="books">
    <div v-for="book in books">
      <b-card no-body class="overflow-hidden" style="max-width: 320px;">
        <b-row no-gutters>
          <b-col md="6">
            <b-card-img src="https://picsum.photos/400/400/?image=20" alt="Image" class="rounded-0"></b-card-img>
          </b-col>
          <b-col md="6">
            <b-card-body :title="book.title">
              <b-card-text>
                {{book.description}}
              </b-card-text>
            </b-card-body>
            <b-button href="#" variant="primary">Comprar</b-button>
          </b-col>
        </b-row>
      </b-card>
    </div>

  </div>
</template>

<script>
export default {
  name: "booksList",
  mounted() {
  },
  props: {
    books: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped>

</style>
