<template>
  <div>
    <b-avatar button variant="secondary" v-b-modal.modal-login style="float: right" v-if="!login"></b-avatar>
    <b-avatar text="DS"  variant="success" v-else size="3rem" button @click="loginAction('logout')" style="float: right"></b-avatar>
    <b-modal
      id="modal-login"
      ref="modal"
      title="Login"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="Email"
          type="email"
          label-for="email-input"
          invalid-feedback="Email is required"
          :state="emailState"
        >
          <b-form-input
            id="email-input"
            v-model="email"
            :state="emailState"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Password"
          label-for="password-input"
          invalid-feedback="Password is required"
          :state="passwordState"
        >
          <b-form-input
            id="email-input"
            v-model="password"
            :state="passwordState"
            type="password"
            @blur="passwordHasBlurred = true"
            required
          ></b-form-input>
        </b-form-group>
      </form>
      <div>
        <b-link href="#foo" disabled>Aun no tengo cuenta</b-link>
      </div>
    </b-modal>
  </div>
</template>

<script>
export default {
  name: "login",
  data () {
    return {
      login: true,
      password: null,
      email: null
    }
  },
  methods: {
    loginAction (action) {
      this.$bvModal.msgBoxConfirm('Usuario: '+ this.student.username, {
        title: 'Usuario',
        size: 'sm',
        buttonSize: 'sm',
        okVariant: 'success',
        headerClass: 'p-2 border-bottom-0',
        footerClass: 'p-2 border-top-0'
      })
    }
    },
  props: {
    student: {}
  }
  }

</script>

<style scoped>

</style>
